{# user input classes #}
{% set btnWrapperClass = options.btnWrapperClass ?? '' %}
{% set loadMoreName = options.loadMoreName ?? 'Load More' %}
{% set pagesToLoad = pagesToLoad ?? 3 %}
{% set bottomOffset = bottomOffset ?? 300 %}
{% set loaderHtml = loaderHtml ?? '' %}
    

<form class="ajaxinateLoadMore" name="ajaxinateLoadMore" method="POST">
	<div id="js_Hb_LoadMore" class="{{ btnWrapperClass }}" data-currentpage="0" data-totalpages="0" data-limit="" data-sorting="0" data-catfilter="" data-extrafilter="[{}]" data-pagesToLoad="{{ pagesToLoad  }}" data-status="1" data-bottomOffset="{{ bottomOffset }}">
	    <span class="loadMoreBtn">{{ loadMoreName }}</span>
	</div>

	<div id="js_Hb_Loader" style="display: none;">
    {{ loaderHtml }}
	</div>

	<div class="js_elMessage"></div>
</form>