{% set ulClass = options.ulClass ?? '' %}
{% set liClass = options.liClass ?? '' %}
{% set checkFieldDiv = options.checkFieldDiv ?? '' %}

{# type, name, value, placeholder, fieldType, class #}
{% set fieldType = "craft\\fields\\Tags" %}
{% set tagGroup = options.tagGroup ?? '' %}
	<div class="{{ checkFieldDiv }} tags">
			<span>Tags</span>
			{% set myTagQuery = craft.tags.group(tagGroup) %}
			{% set tags = myTagQuery.all() %}
			<ul class="{{ ulClass }}">
				{% for tag in tags %}
				 <li class="{{ liClass }}">
					<label for={{tag}}>
						<input type="checkbox" value="{{tag.id}}" id="{{tag}}" name="{{tag}}" class="js_eFilterO" data-ftype="{{ fieldType }}">{{ tag }}
					</label>
				</li>
				{% endfor %}
			</ul>
	</div>

