{% set ulClass = options.ulClass ?? '' %}
{% set liClass = options.liClass ?? '' %}
{% set checkFieldDiv = options.checkFieldDiv ?? '' %}

{# type, name, value, placeholder, fieldType, class #}

{% if field['type'] == "craft\\fields\\Tags" %}
{% set tagGroup = options.tagGroup ?? '' %}
	<div class="{{ checkFieldDiv }} tags">
		<span> {{ field['name'] }} </span>
			{% set myTagQuery = craft.tags.group(tagGroup) %}
			{% set tags = myTagQuery.all() %}
			<ul class="{{ ulClass }}">
				{% for tag in tags %}
				
				 <li class="{{ liClass }}">
					<label>
						<input type="checkbox" value="{{tag.id}}" name="{{field['handle']}}" class="js_eFilterO" data-ftype="{{ field['type'] }}">{{ tag }}
					</label>
				</li>
				{% endfor %}
			</ul>
	</div>
{% endif %}
